* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  margin: auto;
}

header,
main,
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  color: tomato;
}

img {
  width: 100%;
}

#leftSideBorder {
  border: 5px solid lightgray;
  margin-right: 45px;
}

#headerNav {
  display: flex;
  justify-content: space-evenly;
}

#headerNav > li {
  list-style: none;
}

#headerNav > li > a {
  color: lightgray;
  display: flex;
  flex-direction: row-reverse;
}

#footerNav {
  display: flex;
  justify-content: space-evenly;
}

#footerNav > li {
  list-style: none;
}

#footerNav > li > a {
  color: tomato;
  display: flex;
  flex-direction: row-reverse;
}

.articleTitle {
  font-size: xx-large;
}

article {
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid lightgray;
}

article > a {
  display: flex;
  flex-direction: row-reverse;
  color: tomato;
}

article > p::first-letter {
  color: lightgray;
  float: left;
  font-size: 5em;
  margin: 0 0.1em 0 0;
  line-height: 0.85;
}

footer > h5 {
    margin: 8px;
    color: lightgray;
}